header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: var(--azul);
}
h1{
    color: var(--amarillo)
}
nav{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: var(--amarillo);
}
a:hover{
    color: var(--verde);
}