<section *ngIf="books.length>0; else noHay">
   
    <ng-container *ngFor="let book of books; let par = even">
        <app-card [book]="book" [par]="par" (datoslibro)="borrarLibro($event)"></app-card>
    </ng-container>
    
</section>

<ng-template #noHay>
    <section>
        <h2>No hay libros</h2>
    </section>
</ng-template>

<form action="">
    <h1> Añadir nuevo libro </h1>
    <div>
        <input type="text" placeholder="Título" #titulo>
        <input type="text" placeholder="Estilo de tapa" #tapa>
        <input type="text" placeholder="Autor o autora" #autor>
        <input type="number" placeholder="Precio" #precio>
        <input type="url" placeholder="Foto" #foto>
        <input type="number" placeholder="Código de libro" #ref>
    </div>
    <button type="reset" (click)="insertar(titulo.value, tapa.value, autor.value, precio.value, foto.value, ref.value)"> Añadir </button>
</form>
