section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--naranja);
    min-height: 700px;
}
card{
    border: 2px solid var(--verde);
    border-radius: 8px;
    width: 250px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    gap: 5px;
    
}

card img {
    border: 4px dotted var(--verde);
    width: 90%;
    height: 60%;
    margin-top:5px;
    align-self: center;
}

section card div{
    background-color: var(--verde);
    width: 100%;
    height: 200px;;
}

h4{
    margin-left: 10px;
    color: var(--morado);
}
h5{
    margin-left: 10px;
    color: var(--azul);

}
h6{
    margin-left: 10px;
    color: var(--amarillo);
}

.botonPar{
    border:2px solid var(--azul);
    width: 100px;
    border-radius: 8px;
    align-self: center;
    color: var(--morado);
    background-color: var(--naranja);
}
.botonImpar{
    border:none;
    border-radius: 8px;
    width: 100px;
    align-self: center;
    color: var(--amarillo);
    background-color: var(--azul);
}

/* form{
    height: 400px;
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form h1{
    color: var(--morado)
}
form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form div input{
    background-color: var(--amarillo);
    border: none;
    border-radius: 10px;
    text-align: center;
    color: var(--azul);
}
form button{
    width: 100px;
    height: 30px;
    border:none;
    border-radius: 10px;
    background-color: var(--morado);
    color: var(--amarillo)
} */

.search{
    display: flex;
    justify-content: center;
    height: 20%;
    background-color: var(--naranja);
}
input{
    width: 300px;
}
button{
    border:none;
}