<section>
    <form action="">
        <h1> Añadir nuevo libro </h1>
        <div>
            <input type="text" placeholder="Título" #titulo>
            <input type="text" placeholder="Estilo de tapa" #tapa>
            <input type="text" placeholder="Autor o autora" #autor>
            <input type="number" placeholder="Precio" #precio>
            <input type="url" placeholder="Foto" #foto>
            <input type="number" placeholder="Código de libro" #ref>
        </div>
        <button type="reset" (click)="insertar(titulo.value, tapa.value, autor.value, precio.value, foto.value, ref.value)"> Añadir </button>
    </form>
</section>